*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    width: 300px;
    height: 150px;
    margin: 30px;
    border: 10px solid rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
h1{
    text-align: center;
}

section:first-of-type{
    
    background-image: linear-gradient(to right, green 0 33%, white 33% 66%, green 66% 100%);
}
section:nth-of-type(2){
    
    background-image: linear-gradient(to right, blue 0 33%, white 33% 66%, red 66% 100%);
}

section:nth-of-type(3){
    background-image: radial-gradient(circle red 0%, red 33%, white 33%, 100%);
}
section:nth-of-type(4){
   
    background-image: linear-gradient(to right, green 0 33%, white 33% 66%, red 66% 100%);
}
section:nth-of-type(5){
   
    background-image: linear-gradient(to bottom, black 0 33%, red 33% 66%, yellow 66% 100%);
}
section:nth-of-type(6){
   
    background-image: linear-gradient(to bottom, green 0 33%, yellow 33% 66%, blue 66% 100%);
}
section:nth-of-type(7){
    
    background-image: linear-gradient(to bottom, red 0 25%, white 25% 30%, blue 30% 70%, white 70% 75%, green 75% 100%);
}
section:nth-of-type(8){
    background-color: red;
    background-image: url(./media/yellow-christmas-star-png-18.png), url(./media/yellow-christmas-star-png-18.png), url(./media/yellow-christmas-star-png-18.png), url(./media/yellow-christmas-star-png-18.png), url(./media/yellow-christmas-star-png-18.png);
    background-repeat: no-repeat;
    background-position: 20px 20px ,8px 30px, 170px 70px ,120px  140px, 170p 70px;
    background-size: 50px, 15px, 15px, 15px, 15px;
}
